@import url('http://fonts.googleapis.com/css?family=Lato');

$primaryColour: #268770;
$primaryFontColour: #666;

$background: url("img/dark-bg.jpg");
$sectionBackground: url("img/grey.png");
$mapBackground: url("img/vancouver.png");

body {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	background-image: $background;
	background-color: $primaryFontColour;
	color: $primaryFontColour;
	margin: 0;
	line-height: 150%;
}

header {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	bottom: auto;
	z-index: 1000;
	border-bottom: 1px solid #4C4C4C;
	background-color: #303030;
}

a, .link {
	color: $primaryColour;
	border-bottom: 1px dotted $primaryColour;
	text-decoration: none;
	cursor: pointer;
}

nav {
	li {
		display: inline;
	}

	ul {
		margin: 0;
	}

	a {
		color: #ddd;
		font-size: 14px;
		letter-spacing: 2px;
		text-transform: lowercase;
		margin: 12px 12px 0px 12px;
		border-bottom: 1px dashed $primaryColour;
		display: inline-block;
	}

	.anchors {
		margin-right: 40px;
	
		a:hover {
			color: $primaryColour;
			border-bottom: 3px solid $primaryColour;
		}
	}

	.logo .round {
		color: $primaryColour;
	}

	.logo .icon {
		color: #fff;
	}

	.header-title {
		text-transform: uppercase;
		border: none;
	}
}

#container {
	max-width: 60em;
	margin: 5em auto;
	margin-bottom: 3em;
}

#wordcloud {
	width: 100%;
	height: 250px;
	opacity: 0.7;
	margin: 0 auto;
}

.main-section {
	background-color: #EDEDED;
	background-image: $sectionBackground;
	border: 5px solid #262626;
	box-shadow: 5px 5px 10px #262626;
	margin-bottom: 1em;

	.section-header {
		padding: 1em;
		font-size: 1.25em;
		text-transform: lowercase;
		background-color: $primaryColour;
		color: #ddd;
	}

	.content {
		padding: 2em;
	}
}

.resume-item {
	.resume-title {
		border-bottom: 1px dotted #A3A3A3;
		padding-bottom: 3px;
		display: block;
	}

	.job {
		margin-top: 20px;
	}
}

.project {
	clear: both;
	overflow: auto;
	padding: 10px 5px 10px 10px;

	.title {
		border-bottom: 1px dotted #A3A3A3;
		padding-bottom: 3px;
		display: block;
	}

	.preview {
		float: left;
	}

	.desc {
		margin-left: 310px;
	}

	.thumbnail {
		width: 275px;
		height: 200px;
		border: 3px solid #fff;
		box-shadow: 0 0 0 2px #666;
	}
}

.about-me-thumbnail {
	width: 200px;
	height: 200px;
	margin-left: 20px;
	border: 3px solid #fff;
	box-shadow: 0 0 0 2px #666;
}

.date {
	float: right;
}

.button {
	background-color: #666;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px #666;
	color: #fff;
	width: 200px;
	height: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 5px;

	a {
		color: #fff;
		border: none;
	}
}

.map {
	background-image: $mapBackground;
	height: 30em;
}

.fa {
	padding-right: 5px;
}

.hide {
	display: none;
}

.center {
	text-align: center
}

.circle {
	border-radius: 50%;
}

.clearfix {
	overflow: auto;
}

.list-no-style {
	padding-left: 15px;
}

.list-no-style > li {
	list-style-type: none;
}

.inline-list > li {
	float: left;
	list-style-position: inside;
	list-style-type: disc;
	margin-right: 1em;
}

.subtext {
	font-style: italic;
}

.no-style {
	border: none;
}

@media (max-width : 480px) {
	nav .anchors {
		display: none;
	}

	.main-section {
		border-left: none;
		border-right: none;

		.content {
			padding: 1.25em;
		}
	}

	.project {
		padding: 0.5em;

		.desc {
			margin-left: 0;
			display: inline-block;
		}

		.thumbnail {
			width: 250px;
			height: 150px;
		}

		.preview, .date, .title {
			float: none;
			display: block;
			text-align: center;
		}
	}

	.project:not(:first-child) {
		padding-top: 20px;
	}


	#about {
		.preview {
			display: block;
			float: none;
			text-align: center;
		}
		.about-me-thumbnail {
			margin-left: 0;
			float: none;
		}
	}

	.resume-item {
		.title:not(:first-child) {
			padding-top: 20px;
		}

		.date, .title {
			float: none;
			display: block;
		}
	}

	.list-no-style {
		padding: 0;
	}
}

@media (max-width: 725px) {
	nav .anchors {
		display: none;
	}
	
	#about {
		.preview {
			display: block;
			float: none;
			text-align: center;
		}
		.about-me-thumbnail {
			margin-left: 0;
			float: none;
		}
	}

	.resume-item {
		.date, .title {
			float: none;
			display: block;
		}
	}		
}

@media (max-width: 960px) {
	.project {
		.desc {
			margin-left: 0;
			display: inline-block;
		}

		.preview, .date, .title {
			float: none;
			display: block;
			text-align: center;
		}
	}	
}